:root {
  --primary-color: white;
  --secondary-color: black;
  --tertiary-color: #1a0dab;    /* link */
  --quaternary-color: #660199;  /* visited link */
}

.dark-theme {
  --primary-color: #202020;
  --secondary-color: white;
  --tertiary-color: yellow;    /* link */
  --quaternary-color: orange;  /* visited link */
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

table, th {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

img {
  background-color: rgb(255,255,255,.5);
}

.MathJax * {
  color: var(--secondary-color);
}

h2 {
  text-align: center;
}

.center {
  text-align: center;
}

button {
  cursor: pointer;
}

.nav {
  background-color: var(--primary-color);
  position: sticky;
  top: 0px;
  z-index: 1;
}

a:link {
  color: var(--tertiary-color);
}

a:visited {
  color: var(--quaternary-color);
}
